# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env
.venv/
# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# IDE/editor
.idea/

# Pipenv
Pipfile.lock

# Coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
